@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
	--header-foreground: #fff;

	--avatar-size: 12rem;
	--contact-icon-size: 2rem;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

p {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Text alignment */

.center {
	text-align: center;
}

/* Base container  */

.container {
	margin: auto;
	max-width: 992px;
	padding: 4rem;
}

/* Header */

.header {
	background-image: url(images/background.png);
	color: white;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header__avatar {
	border-radius: 50%;
	height: var(--avatar-size);
	width: var(--avatar-size);
}

.header__name {
	font-size: 2rem;
	font-weight: bold;
	margin-top: 1rem;
}

.header__description {
	font-size: 1.5em;
	margin-top: 0.25rem;
}

.header__bio {
	font-size: 1rem;
	margin-top: 1rem;
}

/* Contacts */

.contacts {
	margin-top: 4rem;
}

.contacts__icon {
	height: var(--contact-icon-size);
	margin: 0.75rem;
	transition: transform 0.3s;
	width: var(--contact-icon-size);
}

.contacts__icon:hover {
	transform: scale(1.2);
}

.contacts__link {
	color: var(--header-foreground);
}

.contacts__icon--lastfm {
	background-color: var(--header-foreground);
	border-radius: 50%;
	color: #333;
	padding: 0.25rem;
}

@media (min-width: 768px) {
	:root {
		--avatar-size: 16rem;
		--contact-icon-size: 3rem;
	}

	.header__name {
		font-size: 3rem;
	}

	.header__description {
		font-size: 2rem;
	}

	.header__bio {
		font-size: 1.5rem;
	}
}
